################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/programming_c_labs/v17/ipch/AutoPCH
/.vs
