################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/programming_c_labs/v17/ipch/AutoPCH
/.vs
/lab03/lab0302/Debug
/lab03/lab0301/Debug
/lab03/lab0303/Debug
/lab04/lab0401/Debug
/lab04/lab0402/Debug
/lab04/lab0403/Debug
/lab04/lab0404/Debug
/lab04/lab0404/lab0404.vcxproj.user
/lab02/lab0202/Debug
/lab02/lab0203/Debug
/lab05/lab0501/Debug
/lab05/lab0502/Debug
/lab05/lab0503/Debug
