################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/programming_c_labs/v17/ipch/AutoPCH
/.vs
/lab03/lab0302/Debug
/lab03/lab0301/Debug
/lab03/lab0303/Debug
/lab04/lab0401/Debug
/lab04/lab0402/Debug
/lab04/lab0403/Debug
